@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merienda:wght@300..900&display=swap');

:root {
  --VermelhoZ: #930000;
  --DouradoE: #BC8336;
  --DouradoC: #ccb777;
  --GradientePrincipal: linear-gradient(90deg, var(--DouradoE),var(--DouradoC), var(--DouradoE));
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif;
}

li, a, button {
    font-size: 28px;
    text-decoration: none;
    color: var(--VermelhoZ);
}
.forte {
    color: var(--VermelhoZ);
}
.dourado {
    background: var(--GradientePrincipal);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.titulo {
    font-size: 70px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.texto {
    font-size: 30px;
    text-indent: 20px;
}
hr {
    margin-top: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.logo {
    width: 100px;
    margin-top: 0px;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
    position: relative;
}
.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--VermelhoZ);
    transition: width 0.2s ease-out;
    margin-bottom: -2px;
}
.nav-links li a:hover::after {
    width: 100%;
}
button {
    padding: 10px 20px;
    background-color: var(--VermelhoZ);
    border: none;
    border-radius: 60px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
    transition: background-image 0.5s ease 0.5s;
}
button:hover {
    background-image: var(--GradientePrincipal);
}
#sobre {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 30px auto;
}
#fundo1 {
    background-image: url(imagens/fundo-zezinho1.jpg);
    background-color: black;
    width: 100%;
    height: 613px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#texto-sobre {
    width: 50%;
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
}
#texto-sobre p {
    text-align: justify;
}
#fundo-sobre {
    background-image: url(imagens/fundo-sobre.jpg);
    height: 750px;
    width: 50%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0px 0px 10px;
}
#eventos {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
#eventos h2 {
    margin-left: 70px;
}
.titulo-evento {
    font-size: 50px;
    margin-left: 15px;
    text-align: center;
}
.dsc-evento {
    font-size: 30px;;
    margin: 25px 20px 10px 15px;
    text-align: justify;
}
.data {
    font-size: 35px;
    text-align: center;
}
#noitevo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    max-width: 1500px;
    margin-bottom: 50px;
}
#imagem-noitevo {
    background-image: url(imagens/noitevo.jpg);
    min-width: 300px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#feijoada {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    max-width: 1500px;
    margin-bottom: 50px;
}
#feijoada h3 {
    margin-right: 15px;
}
#imagem-feijoada {
    background-image: url(imagens/feijoada.jpg);
    min-width: 300px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#junina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    max-width: 1500px;
}
#imagem-junina {
    background-image: url(imagens/junina.jpg);
    min-width: 300px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center
}
#cardapio h2 {
    margin-left: 70px;
}

#cardapio .texto {
    text-indent: 0px;
    text-align: center;
}
#cardapio img {
    max-width: 300px;
    text-align: center;
}
#qrcode {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
footer {
    background-color: var(--VermelhoZ);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    font-size: 30px;
}
footer a {
    font-size: 30px;
}
footer a:hover {
    color: var(--DouradoE);
}
@media (max-width: 900px) {
    .titulo {
        font-size: 70px;
    }
    li, a, button {
        font-size: 20px;
    }
    .nav-links {
        display: none;
    }
    #sobre {
    flex-direction: column;
    margin: 0px;
    }
    #texto-sobre {
    align-self: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    background-color: white;
    }   
    #fundo-sobre {
    height: 500px;
    width: 100%;
    border-radius: 0px;
    }
    #eventos h2 {
    margin-left: 30px;
}
    #noitevo {
    flex-direction: column;
    }
    #imagem-noitevo {
    min-width: 350px;
    margin-top: 25px;
    }
    #feijoada{
    flex-direction: column;
    }
    #imagem-feijoada {
    min-width: 350px;
    margin-top: 20px;
    order: 100;
    }
    #junina {
    flex-direction: column;
    }
    #imagem-junina {
    min-width: 350px;
    margin-top: 20px;
    }
    #cardapio h2 {
    margin-left: 30px;
}
    #cardapio a {
        font-size: 30px;
    }
}